html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#output-container > * {
    padding: 0.5rem 1rem;
    margin-top: 2px;
    display: block;
    width: 100%;
    border-radius: 0.3rem;
}

#output-container > problem {
    background-color: #d95c43;
}

#output-container > normal {
    background-color: #80caff;
}

#output-container > info {
    color: white;
    background-color: #426882;
}

#output-container > show {
    background-color: #5fed72;
}

#output-container > status {
    color: white;
    background-color: #824268;
}

#output-container > timestamp {
    font-size: 0.7rem;
    padding: 0;
    margin-bottom: -0.3rem;
}