@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Web App for Hash Tools</h1>
    <p>This web application allows you to work with tools related to hashes.</p>
</div>

<div class="text-center mt-4">
    <a class="btn btn-primary btn-lg" href="/John">Go to John the Ripper</a>
    <a class="btn btn-success btn-lg" href="/HashCat">Go to HashCat</a>
</div>