@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Web App for Hash Tools</h1>
    <p>Ta aplikacja webowa jest nakładką graficzną dla popularnych narzędzi związanych z funkcjami skrótów.</p>
</div>

<div class="text-center mt-4">
    <a class="btn btn-primary btn-lg" href="/John">Go to John the Ripper</a>
    <a class="btn btn-primary btn-lg disabled" title="Implementacja w trakcie!" href="/HashCat">Go to HashCat</a>
</div>